@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: #fff;
    --color-success: green;
    --color-info: rgb(55, 70, 121);
    --color-error: #ef233c;
  }
}

html {
  scroll-behavior: smooth;
  @apply scrollbar scrollbar-thumb-secondary/30 scrollbar-track-primary;
}

body {
  color: var(--color-text);
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  @apply bg-primary;
}

.resize-x {
  resize: horizontal;
  overflow: auto;
  cursor: ew-resize;
}

input,
textarea,
select {
  @apply bg-transparent px-2 py-1 border-1 border-secondary focus:border-yellow focus:outline-none text-white w-full;
}

select {
  @apply border-secondary/30;
}

option {
  @apply bg-primary px-2 py-1 border-1 border-secondary focus:border-primary focus:outline-none text-white;
}

button {
  @apply text-white px-2 py-1 border-1 font-bold uppercase tracking-[.05rem] text-[12px];
  &.primary {
    @apply bg-green/70 hover:bg-green;
  }
  &.secondary {
    @apply bg-sky-900/70 hover:bg-sky-900;
  }
  &.success {
    @apply bg-green/70 hover:bg-green;
  }
  &.danger {
    @apply bg-red/70 hover:bg-red;
  }
  &.warning {
    @apply bg-yellow/70 hover:bg-yellow hover:text-black;
  }
  &.disabled {
    @apply bg-gray-400;
  }
  &.small {
    @apply px-2 py-[9px];
  }
  &.medium {
    @apply px-2 py-2;
  }
  &.large {
    @apply px-4 py-2;
  }
}
button:disabled {
  @apply bg-gray-400 cursor-not-allowed hover:bg-gray-400;
}
