.leaflet-tile-pane .grayscale-tile {
  filter: grayscale(50%);
}

.leaflet-tooltip {
  background-color: #2b2d42 !important; /* Tailwind's bg-gray-800 */
  opacity: 0.85 !important;
  color: #ffffff !important; /* Tailwind's text-white */
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  padding: 0.5rem 1rem; /* Tailwind's p-2 */
  min-width: 150px !important;
  white-space: normal; /* Ensures long text wraps */
  word-wrap: break-word; /* Breaks long words */
}

.toaststyle {
  background: #edf2f4 !important;
  opacity: 1 !important;
  color: #000 !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  position: relative;
  width: 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0);
  background-size: 8px 100%;
  background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  animation: pillerPushUp 4s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #de3500;
  border-radius: 50%;
  animation: ballStepUp 4s linear infinite;
}

@keyframes pillerPushUp {
  0%,
  40%,
  100% {
    background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  }
  50%,
  90% {
    background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px;
  }
}

@keyframes ballStepUp {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*virtuoso
/* Custom Scrollbar */
.virtuoso-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.virtuoso-scrollbar::-webkit-scrollbar-thumb {
  background: #2b2d42;
  border-radius: 5px;
}

.virtuoso-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8d99ae;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
}
